{{ if ne .os "windows" -}}
#!/usr/bin/env bash
set -eufo pipefail
{{- end }}

{{ $extensions := list
     "casualjim.gotemplate"
     "davidanson.vscode-markdownlint"
     "daylerees.rainglow"
     "drewxs.tokyo-night-dark"
     "editorconfig.editorconfig"
     "enkia.tokyo-night"
     "esbenp.prettier-vscode"
     "janisdd.vscode-edit-csv"
     "juggernautjp.less-toml"
     "mark-wiemer.vscode-autohotkey-plus-plus"
     "mechatroner.rainbow-csv"
     "ms-vscode.hexeditor"
     "mvllow.rose-pine"
     "naumovs.color-highlight"
     "tyriar.sort-lines"
     "yzhang.markdown-all-in-one"
-}}

echo "installing vscode extensions..."
{{- $vscode_ext := output "code" "--list-extensions" -}}
{{- $filtered := (list) -}}
{{- range $extensions -}}
    {{- if not (contains . $vscode_ext) -}}
        {{- $filtered = append $filtered . -}}
    {{- end -}}
{{- end -}}


{{ range $filtered -}}
code --force --install-extension {{ . }}
{{- end }}
echo "done."