{{ if lookPath "code" -}}
{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash
set -eufo pipefail
{{- end }}

echo "installing vscode extensions..."
{{- $vscode_ext := output "code" "--list-extensions" -}}
{{- $filtered := (list) -}}
{{- range .vscode.extensions -}}
    {{- if not (contains . $vscode_ext) -}}
        {{- $filtered = append $filtered . -}}
    {{- end -}}
{{- end -}}


{{ range $filtered -}}
code --force --install-extension {{ . }}
{{- end }}
echo "done."
{{- end }}
