README.md
LICENSE.md
internals/**

{{ if ne .subsystem "windows" -}}
.chezmoiscripts/windows/*
.config/windows-terminal/*
AppData/**
scoop/**
.wslconfig
{{- end }}

{{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/asdf/*
.chezmoiscripts/linux/*
{{- end }}

{{ if ne .subsystem "wsl" -}}
.chezmoiscripts/wsl/*
{{- end }}

{{ if ne .subsystem "msys2" -}}
.chezmoiscripts/msys2/*
{{- end }}

{{ if ne .osid "linux-arch" -}}
.chezmoiscripts/arch/*
{{- end }}

{{ if and (ne .subsystem "msys2") (ne .osid "linux-arch") -}}
.chezmoiscripts/pacman/*
{{- end }}

{{ if and (ne .subsystem "msys2") (ne .chezmoi.os "linux") -}}
.chezmoiscripts/rust/*
.config/bat/*
.config/tealdeer/*
.lessfilter
.nanorc
{{- end }}
