README.md
LICENSE.md
internals/**

{{ if ne .os "windows" -}}
.chezmoiscripts/windows/**
.chezmoidata/windows*
.config/windows*
AppData/**
scoop/**
.wslconfig
{{- end }}

{{ if ne .os "msys2" -}}
.chezmoiscripts/msys2/**
.config/zsh/**
.config/bat
.lessfilter
{{- end }}
