[".local/bin/lesspipe.sh"]
    type = "file"
    executable = true
    url = "https://raw.githubusercontent.com/wofr06/lesspipe/lesspipe/lesspipe.sh"
    refreshPeriod = "168h"
[".lessfilter"]
    type = "file"
    executable = true
    url = "https://raw.githubusercontent.com/Freed-Wu/Freed-Wu/main/.lessfilter"
    refreshPeriod = "168h"
