{{- /* promptStringOnce is super slow and doesnt seem to work on my computer */ -}}
{{- /* $name := promptStringOnce . "name" "Username" "Syl" */ -}}
{{- /* $email := promptStringOnce . "email" "Email Address" "rouquette@gmail.com" */ -}}
{{- $choices := list "home" "work" -}}
{{- /* $profile := promptChoiceOnce . "profile" "Which profile" $choices "home" */ -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Syl ⏚"
    email = "srouquette@gmail.com"
    profile = "profile"

{{ if lookPath "code" -}}
[edit]
    command = "code"
    args = ["--wait"]
{{- else if lookPath "nano" -}}
[edit]
    command = "nano"
{{- end }}

{{ if lookPath "difft" -}}
[diff]
    command = "difft"
    args = [
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}",
        "--override", "*config:toml",
        "--parse-error-limit", "100",
    ]
{{- else if lookPath "delta" -}}
[diff]
    pager = "delta"
{{- end }}

{{ if lookPath "meld" -}}
[merge]
    command = "meld"
    args = [
        "{{ "{{" }} .Target {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "--output",
        "{{ "{{" }} .Source {{ "}}" }}",
    ]
{{- else if lookPath "code" -}}
[merge]
    command = "code"
    args = ["--wait", "--merge",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
    ]
{{- end }}
