{{ $username := promptStringOnce . "username" "Linux/WSL username" "syl" -}}
{{- $osid := .chezmoi.os -}}
{{- $subsystem := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "windows") (ne (env "MSYSTEM") "") -}}
{{-     $subsystem = "msys2" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-     if hasKey .chezmoi.osRelease "id" -}}
{{-         $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{-     end -}}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-         $subsystem = "wsl" -}}
{{-     end }}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    subsystem = {{ $subsystem | quote }}
{{ if stat (joinPath .chezmoi.homeDir ".config" "chezmoi" "chezmoi.data.toml") -}}
{{- include (joinPath .chezmoi.homeDir ".config" "chezmoi" "chezmoi.data.toml") -}}
{{- else -}}
    username = {{ $username | quote }}
    profile = "home"
{{- end }}

[edit]
{{ if lookPath "code" -}}
{{- include (joinPath .chezmoi.sourceDir ".chezmoi" "edit.code.toml") -}}
{{- end }}

[diff]
{{ if lookPath "difft" -}}
{{- include (joinPath .chezmoi.sourceDir ".chezmoi" "diff.difft.toml") -}}
{{- else if lookPath "delta" -}}
{{- include (joinPath .chezmoi.sourceDir ".chezmoi" "diff.delta.toml") -}}
{{- end }}

[merge]
{{ if lookPath "meld" -}}
{{- include (joinPath .chezmoi.sourceDir ".chezmoi" "merge.meld.toml") -}}
{{- else if lookPath "code" -}}
{{- include (joinPath .chezmoi.sourceDir ".chezmoi" "merge.code.toml") -}}
{{- end }}

{{ if ne $subsystem "windows" -}}
[interpreters.sh]
    command = "bash"
[interpreters.zsh]
    command = "zsh"
[interpreters.ps1]
    command = "bash"
{{- end }}
