
# skip package discovery during diff
if ($MyInvocation.Line -contains "diff") {
    exit 0
}
# check if scoop is installed
if (!(Get-Command "scoop" -ErrorAction "Ignore")) {
    Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
    exit 0
}

scoop config aria2-enabled true

$scoopShim = (scoop config shim)
if ("$scoopShim" -ne 'kiennq') {
    scoop config shim kiennq
    scoop reset *
}

$buckets = @{
    "extras" = ""
    "java" = ""
    "okibcn_ScoopMaster" = "https://github.com/okibcn/ScoopMaster"
}

$apps = @{
    "7zip" = "main"
    "aria2" = "main"
    "difftastic" = "main"
    "dotnet-7.0-desktopruntime" = "okibcn_ScoopMaster"
    "irfanview" = "extras"
    "meld" = "extras"
    "paint.net" = "extras"
    "powertoys" = "extras"
    "python" = "main"
    "regedix" = "https://raw.githubusercontent.com/srouquette/Extras/master/bucket/regedix.json"
    "revouninstaller" = "extras"
    "shutup10" = "extras"
    "sysinternals" = "extras"
    "vlc" = "extras"
    "vscode" = "extras"
    "windows-terminal" = "extras"
{{ if eq .profile "work" -}}
    "bruno" = "extras"
    "idea" = "extras"
    "temurin-lts-jdk" = "java"
{{- end }}
}

# scoop export will return a json with buckets and apps installedq
$export = Invoke-Command -ScriptBlock { scoop export } | ConvertFrom-Json

# filter out existing buckets
$export.buckets | ForEach-Object {
    if ($buckets.ContainsKey($_.Name)) {
        $buckets.Remove($_.Name)
    }
}
# add remaining buckets
$buckets.GetEnumerator() | ForEach-Object {
    if ($_.Value) {
        scoop bucket add $_.Key $_.Value
    } else {
        scoop bucket add $_.Key
    }
}

# filter out installed apps
$export.apps | ForEach-Object {
    if ($apps.ContainsKey($_.Name)) {
        $apps.Remove($_.Name)
    }
}
# install apps
$apps.GetEnumerator() | ForEach-Object {
    if ($_.Value.StartsWith("https://")) {
        scoop install "$($_.Value)"
    } else {
        scoop install "$($_.Value)/$($_.Key)"
    }
}

if ($buckets.Count -ne 0 -or $apps.Count -ne 0) {
    Write-Host scoop added $buckets.Count new buckets and $apps.Count apps.
}
