{{- $os := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "windows") (ne (env "MSYSTEM") "") -}}
{{-     $os = "msys2" -}}
{{- end -}}

[user]
    name = "Syl ⏚"
    email = "srouquette@gmail.com"
[core]
    autocrlf = {{ if eq $os "windows" -}} "true" {{- else -}} "input" {{- end }}
    preloadindex = true
    fsmonitor = true
    fscache = true
    untrackedcache = true
[feature]
    manyFiles = true
[fsmonitor]
    allowRemote = true
[status]
    # -> all, normal, no. default is all.
    showUntrackedFiles = "all"
[color]
    status = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
    autostash = true
    autosquash = true
[pager]
    difftool = true
[diff]
    mnemonicPrefix = true
    algorithm = "histogram"
    colorMoved = "default"
[difftool]
    prompt = false
[merge]
    conflictstyle = "diff3"
[rerere]
    enabled = true
[help]
    autocorrect = 20
[include]
    path = "config.custom"
    path = "aliases"
    path = "themes.gitconfig"
    {{ if lookPath "code" -}}   path = "config.code"    {{- end }}
    {{ if lookPath "meld" -}}   path = "config.meld"    {{- end }}
    {{ if lookPath "difft" -}}  path = "config.difft"   {{- end }}
    {{ if lookPath "delta" -}}  path = "config.delta"   {{- end }}
