#!/usr/bin/env bash
set -eufo pipefail

packages=( {{ range .linux.packages }}'{{ . }}' {{ end }})
{{ if eq .profile "work" -}}
packages+=( {{ range .linux.work }}'{{ . }}' {{ end }})
{{- end }}

{{ template "is_installed" .linux }}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}


[ ${#filtered[@]} -eq 0 ] || {{ $sudo }} pacman -S --needed --noconfirm ${filtered[@]} 2>/dev/null || true
