#!/usr/bin/env bash
set -eufo pipefail

packages=( {{ range .linux.packages }}'{{ . }}' {{ end }})
{{ if eq .profile "work" -}}
packages+=( {{ range .linux.work }}'{{ . }}' {{ end }})
{{- end }}

{{ template "is_installed" .linux }}

[ ${#filtered[@]} -eq 0 ] && exit 0

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ if eq .osid "linux-arch" -}}
install_package() {
  {{ $sudo }} pacman -S --needed --noconfirm "$1" || true
}
{{- end }}

for pkg in "${filtered[@]}"; do
  install_package "$pkg"
done
