#!/usr/bin/env bash
set -eufo pipefail

{{ if lookPath "asdf" -}}

packages=( {{ range .asdf.packages }}'{{ . }}' {{ end }})

{{ template "is_installed" .asdf }}

[ ${#filtered[@]} -eq 0 ] && exit 0

function install_package() {
    asdf plugin add $1
    asdf install $1 latest
    asdf global $1 latest
}

for pkg in "${filtered[@]}"; do
  install_package $pkg
done

{{- end }}
