#!/usr/bin/env bash
set -eufo pipefail

{{ if lookPath "asdf" -}}

packages=( {{ range .asdf.packages }}'{{ . }}' {{ end }})

{{ template "is_installed" .asdf }}

function asdf-install() {
    asdf plugin add $1
    asdf install $1 latest
    asdf global $1 latest
}

[ ${#filtered[@]} -eq 0 ] && exit 0

for pkg in "${filtered[@]}"; do
  asdf-install $pkg
done

{{- end }}
