#!/usr/bin/env bash
set -eufo pipefail

grep -q "# updated by chezmoi" /etc/wsl.conf && exit 0

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }} cat << EOF >> /etc/wsl.conf
# updated by chezmoi
[user]
  default = {{ .username | quote }}

[interop]
  appendWindowsPath = false
EOF
